
.sidebar-nav li a {
  color: #006633;
  display: block;
  text-decoration: none;
}

#sidebar-wrapper {
  background: #E8E8E8;
  height: 100%; //420px;
  margin-top: -20px;
  width: 190px;
}


.sidebar-nav {
  width: 100%;
}


.sidebar-nav > .sidebar-brand {
  color: #006633;
}

.sidebar-nav li span {
  color: #E8E8E8;
  background: #006633;
}

.sidebar-nav li h5 {
  box-sizing: content-box;
  color: #E8E8E8;
  background: #006633;
  font-size: 20px;
  margin-top: 0px;
}

.input-group .form-control {
float: left;
width: 170px;
;
}

.special:hover {
  color: #700000;
  cursor:pointer;
}

.handhover:hover {
  cursor:pointer;
}

.commentary{
  position: fixed;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
align-items: flex-start;
color: #006633;
}

.popover {
    max-width: 350px;
    width: auto;
}

.bookview li div {
  
}

.bookview li div:hover {
  background-color: #E8E8E8;
  cursor:pointer;
}


body {
  min-height: 100px;
  padding-top: 70px;
  background-color: #fdf6e3; // light background, solarized theme
}

.container {
  width: 100%!important; //960px!important;
}

.col-md-3 {
  max-width: 25%;
  width: 25%;
}

.col-md-9 {
  max-width: 75%;
  width: 75%;
}

#clickdivThumb {
  float: left;
}

#clickdivText {
  padding-left: 100px;    
}

.clickdiv {
  list-style-type: none;
}
