{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}">

    <title>Palimpsest</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'base-custom.css'%}" rel="stylesheet">
    <link href="{% static 'navbar-fixed-top.css' %}" rel="stylesheet">


  </head>

  <body>

{% include "navbar_base.html" %}

    <div class="container">

     <div class="row">
    <div class="col-md-2">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"> Tool Box
                </li>
                <li><a href="{% url 'two_text' text_name=text_id %}">View Translation</a>
                </li>
                <li><a href="#">Search</a>
                </li>
                <li><a href="#">Vocab</a>
                </li>
                <li><a href="#">Commentary</a>
                </li>
                <li><a href="#">User Comments</a>
                </li>
                <li><a href="#">Add Comment</a>
                </li>

            </ul>
        </div>

   </div>
  
  <div class="col-md-10">
  {% block content%}
  {% endblock %}
  </div><!-- /.col-md -->
</div><!-- /.row -->

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src={% static "dist/js/bootstrap.min.js" %}></script>
  </body>
</html>
