{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}">

    <title>Palimpsest</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'base-custom.css'%}" rel="stylesheet">
    <link href="{% static 'docs/examples/navbar-fixed-top/navbar-fixed-top.css' %}" rel="stylesheet">
    <link href="{% static 'navbar-custom.css'%}" rel="stylesheet">


  </head>

  <body>

{% include "navbar_base.html" %}

    <div class="container">

     <div class="row">
    <div class="col-md-2">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li id="tool-box"> <h5> Views </h5>
                <div class="row">
                <li>
                    <div class="col-md-8">
                        <div class="input-group">
                            <!-- in a perfect world, I'd do this in AJAX, but the form action is what workd -->
                            <form action="." method="POST">{% csrf_token %}
                            {{ form.as_p }}
                                <input type="text" class="form-control" name="range" /> <!-- onkeypress="queryBox(event)" /> --><br/>
                                <input type="submit" value="Submit" />
                            </form>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4">
                    </div>
                </li>
                <li><a href="{% url 'index' text_name=text_id %}">View Plain Text</a>
                </li>
                <li><a href="{% url 'two_text' text_name=text_id %}">View Translation</a>
                </li>
                <li><a href="{% url 'view_comments' text_name=text_id %}">View User Comments</a>
                </li>
                <li> <h5> Modes </h5> </li>
                <li><a id="commentary" onclick="changeMode('commentary')">Commentary</a>
                </li>
                <!--li><a id="vocab" onclick="changeMode('vocab')" href="{% url 'vocab' text_name=text_id %}">Vocab</a-->
                <li><a id="vocab" onclick="changeMode('vocab')">Vocab</a>
                </li>
                <li><a id="addcomment" onclick="changeMode('addcomment')">Add Comment</a>
                </li>

            </ul>
        </div>

   </div>

   <!-- Modal (only appears on click)-->
<div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Comment</h4>
      </div>
      <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="name"><span id="commenthead"></span></label>
                <textarea class="form-control" rows="3" id="commentmodaltext"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="commentAdd()">Save changes</button>
      </div>
    </div>
  </div>
</div>


   <!-- Vocab Modal (only appears on click)-->
<div class="modal fade" id="vocab" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="vocabModalLabel">Vocab Lookup</h4>
      </div>
      <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="name"><span id="vocabhead"></span></label>
                <textarea class="form-control" rows="3" id="vocabmodaltext"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="vocabLookup()">Save changes</button>
      </div>
    </div>
  </div>
</div>
     
  <div class="col-md-10">
  {% block content%}
  {% endblock %}
  </div><!-- /.col-md -->
</div><!-- /.row -->

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'docs/dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">

        var linenum_global;
        var curr_mode = "None";

        function queryBox(e) {
            if (e.keyCode == 13) {
                document.getElementById("tool-box").innerHTML = "Enter pushed!";
            }
            return true;
        }

        function changeMode(id) {

            document.getElementById("commentary").style.color = '#006633';
            document.getElementById("addcomment").style.color = '#006633';
            document.getElementById("vocab").style.color = '#006633';

            if (curr_mode == id) {
                curr_mode = "None";
            }
            else {
                curr_mode = id;
                document.getElementById(id).style.color = '#700000';
            }

            if (curr_mode != "None") {
                $('.linenumber').addClass('special');
            }

            else {
                $('.linenumber').removeClass('special');
            }

        }

        function modal(linenum) {

        linenum = linenum.toString();

        if (curr_mode == 'addcomment') {
        document.getElementById("commenthead").innerHTML="Enter comment for line " + linenum;
        $('#addComment').modal();
        linenum_global = linenum;
        }

        if (curr_mode == "vocab") {
            alert('sorry, this function is not yet available!')
           // document.getElementById("vocabhead").innerHTML="Somehow look up vocab?";
           // $('#vocab').modal();

        }
        }

	// using jQuery
	function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) { 
			    var cookie = jQuery.trim(cookies[i]);
			    // Does this cookie string begin with the name we want?
			    if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		            break;
			    }
			    }
			    }
			    return cookieValue;
			    }
			    


        function commentAdd() {         
        var newComment = document.getElementById("commentmodaltext").value;
        document.getElementById("commentmodaltext").value = '';
	
        var text_name = "{{text_id}}"
        
        alert(newComment + '; ' + text_name +  '; ' + linenum_global);
        //alert(newComment);
        //alert(text_name);
        //alert(linenum_global);

			    var csrftoken = getCookie('csrftoken');
			    
			    $.ajaxSetup({
			    beforeSend: function(xhr, settings) {
			    xhr.setRequestHeader("X-CSRFToken", csrftoken);
			    }
			    });

			    $.ajax({
			    type: 'POST',
			    url: './add_comment',
			    data: {'text_name': text_name, 'comment_text': newComment, 'line': linenum_global },
		    });

			    }


        function vocabLookup() {
            alert ("sorry, this feature is not yet available");
        }

    </script>
  </body>
</html>
