{% extends "base.html" %}

{% block content %}
<div class="container">

	<div class="row">
		
        <div class="col-md-5">
           {% for i in text_left %}
		   {#{i.text_field}#}
           <span id={{ i.0 }} onclick="modal({{i.0}});"> {{ i.0 }} </span> &nbsp &nbsp &nbsp {{ i.1 }} <br>
		   {% endfor %}
	    </div>

		<div class="col-md-5">
	       {#{ gal_war_eng.text_field }#} 
	       {%for i in text_right %}
		   {#{i.text_field}#}
           {{ i.0 }} &nbsp &nbsp &nbsp {{ i.1 }}<br>
		   {% endfor %}
         </div>

	</div>
</div>


{% endblock %}
