{% extends "base.html" %}

{% block content %}
<div class="container">

	<div class="row">
		
        <div class="col-md-5">
         {#  {% for i in text_left %} #}
		  {#{i.text_field}#}
         {#  <span id={{ i.0 }} class = 'linenumber' onclick="modal('{{i.0}}');"> {{ i.0 }} </span> &nbsp &nbsp &nbsp {{ i.2 }} <br> #}
		  {# {% endfor %} #}


		   {% for i in text_left%}
			<span id='{{i.0}}' class="linenumber" onclick="modal('{{i.0}}');"> {{ i.0 }} </span> &nbsp &nbsp &nbsp 
			{% for word in i.1 %}
			<span id='{{word}}' class="lat_word"> {{word}} </span>
			{% endfor %}
 			<br>
			{% endfor %}
	    </div>

		<div class="col-md-5">
	       {#{ gal_war_eng.text_field }#} 
	       {%for i in text_right %}
		   {#{i.text_field}#}
           {{ i.1 }}.{{ i.2 }} &nbsp &nbsp &nbsp {{ i.6 }}<br>
		   {% endfor %}
         </div>

	</div>
</div>


{% endblock %}
