{% extends "base.html" %}

{% block content %}

	<div class="row">
		
        <div class="col-md-6">



		   {% for i in text_left%}
			<span id='{{i.0}}' class="linenumber" onclick="modal('{{i.0}}');"> {{ i.0 }} </span> &nbsp &nbsp &nbsp 
			{% for word in i.1 %}
			<span class="lat_word" data-word="{{word}}"> {{word}} </span>
			{% endfor %}
 			<br>
			{% endfor %}
	    </div>

		<div class="col-md-6">

		   {% if i.7%}
		   		{%if user.id == i.4 %}

		   		 <span class="commentnumber" data-comm="{{i.6}}" data-commentid = {{i.0}} data-commbook = {{i.1}}
           		data-commline = {{i.2}} data-username={{the_user.username}} data-pub="{{i.3}}" data-anon="yes">
           		{{ i.1 }}.{{ i.2 }}</span>
           	 		&nbsp &nbsp &nbsp Anonymous User : {{ i.6 }}

           	 	{% else %}
		   		<span>{{ i.1 }}.{{ i.2 }}</span>
            	&nbsp &nbsp &nbsp Anonymous User : {{ i.6 }}
            	{% endif %}

           {% else %}
		   {%for the_user in user_names%}
		   {% if the_user.id == i.4 %}
		   		{%if user.username == the_user.username %}
           		<span class="commentnumber" data-comm="{{i.6}}" data-commentid = {{i.0}} data-commbook = {{i.1}}
           		data-commline = {{i.2}} data-username={{the_user.username}} data-pub="{{i.3}}" data-anon="no">
           		{{ i.1 }}.{{ i.2 }}</span>
           	 		&nbsp &nbsp &nbsp {{ the_user.username }} : {{ i.6 }}
           		{% else %}
           		<span>
           		{{ i.1 }}.{{ i.2 }}</span>
           	 		&nbsp &nbsp &nbsp {{ the_user.username }} : {{ i.6 }}
           	 	{% endif %}
           
           {% endif %}
		   {% endfor %}  
		   {% endif %}         
           {% if i.3 == False %}
               <em>***</em>
           {% endif %}
           <br>
		   {% endfor %}
         </div>

	</div>


{% endblock %}
