{% load staticfiles %}


<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href={% static "assets/ico/favicon.ico" %}>

    <title>Palimpsest</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'docs/examples/navbar-fixed-top/navbar-fixed-top.css' %}" rel="stylesheet">
    <link href="{% static 'navbar-custom.css'%}" rel="stylesheet">
    <link href="{% static 'homepage.css' %}" rel="stylesheet">


  </head>

  <body>

  {% include "navbar_base.html" %}


 Hi there! Palimpsest is a web-based interface for interacting with ancient texts. After selecting a text from the dropdown menu, use the pannel on the left-hand side to try out different views and tools.

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src={% static "dist/js/bootstrap.min.js" %}></script>

</body>

  </html>