{% load staticfiles %}


<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href={% static "assets/ico/favicon.ico" %}>

    <title>Palimpsest</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'base-custom.css'%}" rel="stylesheet">
    <link href="{% static 'navbar-fixed-top.css' %}" rel="stylesheet">
        <link href="{% static 'homepage.css' %}" rel="stylesheet">


  </head>

  <body>

  {% include "navbar_base.html" %}


 <div class="jumbotron">

 	 <figure>
  <img src="{% static 'rsz_columns.png' %}">
	</figure>
	 	 <h1>Welcome to Palimpsest!</h1>
 	 <p>Please select a text from the dropdown list to get started </p>

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src={% static "dist/js/bootstrap.min.js" %}></script>

</body>

  </html>